html {
  font-size: 10px;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', serif;
}

@media (max-width: 500px) { 
  html {
    font-size: 7px
  }
}
 @media (min-width: 1400px) { 
  html {
    font-size: 15px
  }
 }
body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  padding: 40px;
  background-color: white;
  grid-area: main;
}

.title {
  font-size: 4.4rem;
  text-align: center
}

.form {
  display:grid;
  max-width: 900px;
  margin: auto;

}

.label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  outline: none;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0,0,0,0.85);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 5px;
  outline: none;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgb(53, 158, 85);
  border: 1px solid mediumseagreen;
}
  
.input {
  margin-bottom: 0;
}

.site-header {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: rgba(0,0,0,0.85);
  color: white;
  font-size: 2rem;
  justify-content: center;
  grid-area: header;

}
.site-header  > div {
  text-transform: uppercase;
  margin: 10px 20px;
  justify-content: center;
  cursor: pointer;
}
.site-footer {
  display: block;
  width: 100%;
  place-self: center;
  background-color: rgba(0,0,0,0.85);
  color: white;
  grid-area: footer;
}
.site-footer > div {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.card {
  align-items: center;
  place-self: center;
  height: 50rem;
  display: flex;
  flex-direction: column;
  width: 40rem;
  border: 1px solid gold;
}
.card-container {
  margin-top: 3rem;
  column-gap: 4rem;
  row-gap: 3rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(27rem, 1fr) );
}
.ingr {
font-size: 1,5rem;
}

img {
  height: 24rem;
  width: auto;
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
                      'header'
                      'main'
                      'footer';
  grid-template-rows: 10rem auto 5rem;
  grid-template-columns: 100%;
}